

{% include "layout.html" %}
        <br><br>
        <center>
            <h1>Who is the Next Host???</h1>
            <br><br>
            <div class="card-deck" style="width: 50%;">
                <div class="card text-center">
                    <div class="card-body">
                        <textarea id="card1" class="form-control text-area-dev" rows="1" readonly></textarea>
                        <br>
                        <button class="btn btn-primary" onclick="fetchData('card1', 'random-dev-team-member')">Get DEV Member</button>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                        <textarea id="card2" class="form-control text-area-dev" rows="1" readonly></textarea>
                        <br>
                        <button class="btn btn-primary" onclick="fetchData('card2', 'random-qa-team-member')">Get QA Member</button>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="card-deck" style="width: 50%;">
                <div class="card text-center">
                    <div class="card-body">
                        <textarea id="card3" class="form-control" rows="1" readonly></textarea>
                        <br>
                        <button class="btn btn-primary" onclick="fetchData('card3', 'random-team-member')">Get Team Member</button>
                    </div>
                </div>
                
                <div class="card text-center">
                    <div class="card-body">
                        <textarea id="card4" class="form-control" rows="1" readonly></textarea>
                        <br>
                        <button class="btn btn-primary" onclick="fetchData('card4', 'random-tentative-team-member')">Get Co-Host</button>
                    </div>
                </div>
            </div>
            <br><br>
            <div>
                <img src="{{ url_for("static", path="/images/project_logo.png") }}" alt="Project Logo not found :(" style="width: 250px; height: 100px;">
            </div>

            <script>
                function fetchData(cardId, url) {
                    fetch(url)
                    .then(response => response.text())
                    .then(data => {
                        document.getElementById(cardId).value = data.replace(/"/g, '');
                    })
                    .catch(error => console.log(error));
                }
            </script>
        </center>

